<div class="card mb-5 mb-lg-0">
    <div class="card-body">
      <h5 class="card-title text-muted text-uppercase text-center">{{myData.title}}</h5>
      <h6 class="card-price text-center">${{myData.money}}<span class="period">/month</span></h6>
      <hr>
      <ul class="fa-ul">
        <li [ngClass]="{'strng':myData.users.strng}"><span class="fa-li"><i class="fa fa-check"></i></span>{{myData.users.noOf}}</li>
        <li><span class="fa-li"><i class="fa fa-check"></i></span>{{myData.storage.gb}}</li>
        <li><span class="fa-li"><i class="fa fa-check"></i></span>{{myData.publicProjecs.limit}}</li>
        <li><span class="fa-li"><i class="fa fa-check"></i></span>{{myData.Access.text}}</li>
        <li [ngClass]="{'text-muted':myData.privateProjects.textMute}">
            <span class="fa-li">
                <i [ngClass]="{'fa-times':myData.privateProjects.textMute,'fa-check':!myData.privateProjects.textMute,'fas':true}"></i>
            </span>{{myData.privateProjects.text}}
        </li>
        <li [ngClass]="{'text-muted':myData.support.textMute}">
            <span class="fa-li">
                <i [ngClass]="{'fa-times':myData.support.textMute,'fa-check':!myData.support.textMute,'fas':true}"></i>
            </span>{{myData.support.text}}
        </li>
        <li [ngClass]="{'text-muted':myData.subdomain.textMute}">
            <span class="fa-li">
                <i [ngClass]="{'fa-times':myData.subdomain.textMute,'fa-check':!myData.subdomain.textMute,'fas':true}"></i>
            </span>
            <span [ngClass]="{'strng':true}">{{myData.subdomain.spec}}</span>{{myData.subdomain.type}}</li>
        <li [ngClass]="{'text-muted':myData.report.textMute}">
            <span class="fa-li">
                <i [ngClass]="{'fa-times':myData.report.textMute,'fa-check':!myData.report.textMute,'fas':true}"></i>
            </span>{{myData.report.text}}
        </li>
      </ul>
      <div class="d-grid">
        <a href="#" class="btn btn-primary text-uppercase">Button</a>
      </div>
    </div>
</div>
